h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.5em;
  font-weight: 600;
  color: $heading-color;
}
dl,
ol,
p,
table,
ul {
  margin: 1em 0 1.5rem;
}

dl,
ol,
ul{
  list-style-position: inside;
}
li{
  margin-top:10px;
  line-height: 1.65;
}
section {
  margin-top: 30px;
}
h1 {
  font-size: 1.7em;
  font-weight: 700 !important;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.75em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 0.8em;
}
p {
  line-height: 1.65;
  font-weight: 400;
  font-size: 0.9em;
  a {
    border-bottom: 2px solid $primary;
    color: $primary;
    &:hover {
      border-bottom: 2px dashed $primary;
    }
  }
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}



// Media Query
@media (min-width: 620px) {
  
  h1 {
    font-size: 3em;
    font-weight: 700 !important;
  }
  h2 {
    font-size: 2.5em;
  }
  h3 {
    font-size: 2.25em;
  }
  h4 {
    font-size: 2em;
  }
  h5 {
    font-size: 1.3em;
  }
  h6 {
    font-size: 1em;
  }
  p {
    line-height: 1.65;
    font-weight: 400;
    font-size: 1.1em;
    
  }
}
