.j-text-bold {
  font-weight: bold !important;
}
.j-text-center{
  text-align:center;
}
.j-float-left {
  float: left;
}
.j-float-right {
  float: right;
}
.j-bg-primary {
  background-color: $primary;
}
.j-color-primary {
  color: $primary;
}
.j-color-secondary {
  color: $secondary;
}
.j-bg-secondary {
  background-color: $secondary;
}
.j-dashed-border {
  border-style: dashed;
}