// Imports
@import "./base/reset.scss";
@import "./variables.scss";
@import "./base/base.scss";
@import "./base/helpers.scss";
@import "./base/new-moon.scss";




// Styles
.j-body-container{
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}
.j-page-container{
  margin: 130px 15px 0 15px;
}
.j-tag {
  background-color: $secondary;
  color: $primary;
  border-radius: 4px;
  padding: 0.25em 0.5em;
  margin-right: 0.5em;
  font-size: 1em;
  display: inline-block;
}
.j-button{
  font-size:1.25em;
  background-color:$primary;
  color:white;
  border:none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding:0.2em 1.5em;
}




 
@media (min-width: 620px) {
  .j-tag {
    padding: 0.5em 1em;
  }

}
